html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #212529;
}

ul,
ol,
dd {
  list-style-position: inside;
}

.postTable table,
.postTable th,
.postTable td {
  border: 1px solid black !important;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.centerFigure {
  width: 90%;
  margin: auto !important;
  margin-bottom: 16px !important;
}

figcaption {
  text-align: center;
  color: grey;
}
