.lessonButton {
  z-index: 2;
}

.pageLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.headerHeight {
  height: 33px;
}

.lessonBody {
  height: 100%;
  overflow-y: auto;
}

.footerHeight {
  height: 60px;
}
